In [2]:
%load_ext sql

In [3]:
%run -i 'create_tables.py'

In [4]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [5]:
#%run -i 'etl.py'

In [6]:
%run -i 'etl_Copy_Log_Direct.py'

75 files found in data/song_data
songs table created, 75 records loaded successfully.
artists table created, 75 records loaded successfully.
30 files found in data/log_data
Users table created, 6820 records loaded successfully.
songplays table created, 6820 records loaded successfully.
time table created, 6820 records loaded successfully.

In [7]:
%sql SELECT count(*) FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6820,)]

In [8]:
%sql SELECT count(*) FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(75,)]

In [11]:
%sql SELECT count(*) FROM artists limit 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(75,)]

In [10]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 17, 10, 24, 39, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 10.0, 17.0, 46.0, 11.0, 2018.0, 6.0),
 (datetime.datetime(2018, 11, 17, 11, 11, 19, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11.0, 17.0, 46.0, 11.0, 2018.0, 6.0),
 (datetime.datetime(2018, 11, 17, 11, 54, 39, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11.0, 17.0, 46.0, 11.0, 2018.0, 6.0),
 (datetime.datetime(2018, 11, 17, 12, 19, 39, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 12.0, 17.0, 46.0, 11.0, 2018.0, 6.0),
 (datetime.datetime(2018, 11, 17, 13, 41, 19, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 13.0, 17.0, 46.0, 11.0, 2018.0, 6.0)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [ ]:
#To check whether this is only one record is inserted into the songplay table that song_id and artist_id are both not None
#%sql SELECT * FROM log, songs, artists where songs.title = log.song and log.artist_name = artists.name and songs.duration = log.length;

In [ ]:
# This is the only record
#SOZCTXZ12AB0182364, AR5KOSW1187FB35FF4